:root{
    --color1:#FF774D;
    --color2:#FF8790;
    --color3:white;
    --color4:#F44336;
}

body{
    font-family: 'Nunito',sans-serif;
}

.stackfindover{
    display: flex;
    padding: 25px 25px 0 25px;
    gap: 30px;
    background-image: linear-gradient(45deg, var(--color1),var(--color2));
}

.stackfindover .logo{
    display: flex;
    gap: 10px;
    align-items: center;
    color: var(--color3 );
}
.stackfindover .logo h3{
    margin: 0;
    margin: -7px;
    font-size: 1.5rem;
    font-weight: 900;
}

.stackfindover .logo span{
    font-size:0.7rem;
}

.stackfindover > div:first-child{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    flex: 2 1 200px;
}

.stackfindover > div:first-child img{
    width: 100%;
    height: auto;
}



.stackfindover > div:last-child{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 3 1 300px;
}
.stackfindover > div:last-child *{
    margin: 0;
    padding: 0;
    color: var(--color3);
}

.stackfindover > div:last-child h2{
    font-size: 2.5rem;
    font-weight: 900;

}
.stackfindover > div:last-child h3{
    font-size: 1.5rem;
    opacity: 0.5;

}
.stackfindover > div:last-child i{
    background-color: var(--color4);
    padding: 5px 10px;
    border-radius: 5px;

}
