:root{
    --color1:#FF774D;
    --color2:#FF8790;
    --color3:white;
    --color4:#F44336;
}

body{
    font-family: 'Nunito',sans-serif;
}

.stackfindover{
    display: flex;
    padding: 20px;
    background-image: linear-gradient(45deg, var(--color1),var(--color2));
}

.stackfindover .logo{
    display: flex;
    gap: 10px;
    align-items: center;
    color: var(--color3 );
}
.stackfindover .logo h3{
    margin: 0;
    margin: -7px;
    font-size: 1.5rem;
    font-weight: 900;
}

.stackfindover .logo span{
    font-size:0.7rem;
}