.kutu1{
    background-color: blue;
    text-align: right;
}
.kutu2{
    background-color: rgb(255, 0, 0);
    padding-right: 10px;
}
.kutu3{
    background-color:yellow;
}
.kutu4{
    background-color:green;
}