nav.menu li{
    color: cadetblue;
}

nav.menu > ul > li{
    color: red ;
}

nav.menu ul ul > li{
    color: blue;
}

nav.menu ul ul li:nth-child(3){
    text-decoration: line-through;
}

nav.menu + p{
    font-size: 2rem;
}

nav.menu ~ p{
    font-size: 1,5rem;
    color: aquamarine;
}

nav.menu ul li:nth-child(2) ~ li{
    text-decoration: underline;
}