.box1{
    width:500px;
    border: 5px solid red;
    padding: 20px;
    margin:30px;
}

.box2{
    box-sizing: border-box;
    width:500px;
    border: 5px solid rgb(103, 114, 49);
    padding: 20px;
    margin:30px;
}

