.bg{
    margin-bottom: 20px;
    padding: 30px;
}


.bg1{
    background-image: linear-gradient(green,blue);
}
.bg2{
    background-image: linear-gradient(rgb(23, 0, 128),rgb(255, 0, 0),yellow);
}

.bg3{
    background-image: linear-gradient(to left,black,gray);
}

.bg4{
    background-image: linear-gradient(20deg,black,rgb(227, 24, 160));
}


.bg5{
    background-image: linear-gradient(to right,rgb(24, 247, 206) 90%,rgb(230, 100, 100));
}

.bg6{
    background-image: radial-gradient(yellow,black);
}
.bg7{
    background-image: radial-gradient(circle,yellow,black);
}
.bg8{
    background-image: radial-gradient(circle, blue 0%, yellow);
}



