h1{
    font-size: 3rem;
    color: chocolate;
    text-align: center;
}

.about{
    text-align: center;
}

a{
    text-decoration: none;
}

a:hover{
    background-color: blueviolet;
    color: azure;
}