.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Cok guzel bir ozellik*/
    height: 100vh;
}   

.container div:nth-child(1){
    background-color: aquamarine;
    flex: 0 1 200px;
}
.container div:nth-child(2){
background-color: blueviolet;
flex:  5 0 auto;
}

.container div:nth-child(3){
    background-color: rgb(226, 223, 43);
}
.container div:nth-child(4){
    background-color: rgb(43, 226, 95);
}

.container div:nth-child(5){
    background-color: rgb(226, 43, 162);
}