.boxes{
    display: flex;
    justify-content: space-between;
}
.boxes div{
    width: 100px;
    height: 100px;
    padding: 20px;
    border-radius: 20px;
}
.boxes div:first-child{
    box-shadow: 0 5px 15px black;
}
.boxes div:nth-child(2){
    box-shadow: 0 25px 45px -10px rgb(213, 26, 26);
}
.boxes div:nth-child(3){
    box-shadow: 0 0 25px rgb(213, 26, 26);
}

