p.about::first-letter{
    font-size: 2rem;
}

p.about::first-line{
    color: blue;
}

p.about::selection{
    color: tomato;
}

.list li::marker{
    color: blueviolet;
    font-size: 2rem;
}
title::before{
    content: "1";
    display: inline-block;
    width: 5px;
    height: 10px;
    background-color: rgb(3, 7, 6);
    margin-right: 10px;
}

title::after{
    content: "2";
    display: inline-block;
    width: 5px;
    height: 10px;
    background-color: rgb(44, 52, 49);
    margin-right: 10px;
}

.about span::before{
    content: " { ";
    color: blue;
}