:root{
    --color1:rgb(237, 109, 109);
    --color2:rgb(8, 12, 62);
    --color3:rgb(255, 244, 244);
}

.title{
    color: var(--color2);
}

.about{
    color: var(--color3);
    background-color: var(--color2);
}

.about mark{
    background-color: var(--color1);
    color: var(--color2);
}

