:root{
    --color1:rgb(177, 112, 38);
    --color2:blue;
    --color3:white;
}

nav.menu{
    background-color: var(--color1);
    text-align: center;
}

nav.menu ul{
    margin: 0;
    padding: 0;
}

nav.menu li{
    display: inline-block;

}

nav.menu li::after{
    content: "|";
    color:var(--color2);
}

nav.menu li:last-child::after{
    content: "►";
    color: var(--color2);
}

nav.menu li:first-child::before{
    content: "◄";
    color: var(--color2);
}

nav.menu a{
    text-decoration:none;
    display: inline-block;
    padding: 5px 10px;
    color: var(--color3);
}
