header{
    background-color: aquamarine;
    font-size: medium;
    text-align: justify;
    color:rgb(43, 43, 7);
    padding: 10px;
    text-decoration: line-through;
    text-shadow:7px 2px 3px;
}