.menu .btn-mode i{
    color: rgb(252, 254, 255);
}

.chk{
    display: none;
}
.menu .open > ul{
    background-color: black;
    text-align: center;
}

.menu .open ul li a{
    text-decoration:none;
    color: black;
    padding: 20px;
}

.menu .open ul li{
    list-style-type:'::';
}

.menu .btn-mode{
    display: block;
    border:none;
    background-color: black;
}

.menu .chk:checked .open > ul{
    display: inline-block;
    background-color: rgb(190, 175, 99);
}
