*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    --color1:white;
    --color2:#48137a;
    --color3:rgb(254, 253, 253);
    --color4:black;

}

body{
    background-color: var(--color2);
    font-family: "Raleway";
    height: 100%;
    width: 100%;
    padding: 20px;
}

div.container{
    display: flex;
    height: 93vh;
}

/*           !LEFT DIV           */
div.container .sol{
    flex: 33;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: var(--color3);
    position: relative;

    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}

.sol > .sol-ust > span{
    border: 2px solid var(--color2) ;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 3px;
    font-size: 1.3rem;
    color: var(--color2);
}
div.container .sol-ust{
    position: absolute;
    left: 30px;
    top: 20px;
}


.sol > .sol-ust > a{
    text-decoration: none;
    color: var(--color2);
    font-size: 1.3rem;
    padding: 5px;
}

.sol > .sol-ust > a:hover{
    color:var(--color4);
    font-weight: 800;
}

.sol > h2{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    margin: 50px 0;
}


.sol > input{
    width: 60%;
    margin: 10px;
    border: none;
    border-bottom: 1px solid var(--color2);
    background:none;
    padding: 10px;

}
.sol button{
        margin: 70px 0;
        padding: 10px 50px;

        font-size: 1.2rem;
        font-weight: 700;
        color: var(--color1);
        background-color: var(--color2);
        
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        box-shadow: 2px 3px 3px black;
        text-transform: uppercase;
}   


.sol button:hover{
    background-color: var(--color1);
    color: var(--color2);
}


/*           !RIGHT DIV             */
div.container .sag{
    flex: 66;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-image: url(../img/bg-login.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;

   
    color: var(--color1);

    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.sag > h1{
    text-transform: uppercase;
    font-size: 5rem;
    font-weight: 600;
    text-shadow: 2px 2px 3px var(--color2);
}

.sag > h3{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2rem;
    margin-top: 10px;
    text-shadow: 2px 2px 3px var(--color2);
}




/* 768px-e kadar olan ekranlarda */


@media screen and (max-width:768px) {
    div.container{
        flex-direction: column;
    }
    div.container .sol{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    div.container .sag{
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        padding: 100px 0;
    }

    .sag > h1{
        font-size: 3rem;
    }
    .sag > h3{
        font-size: 1rem
    }
}