:root{
    --color1:rgba(85, 75, 93, 0.91);
    --color2:black;
    --color3:white;
}
body{
    margin: 5px;
    color: var(--color3);
}
.checkbox{
    display: none;
}
.checkbox:checked + div.bayram{
    display: none;
}

.labelbutton{
    background-color: var(--color1);
    color: var(--color3);
    padding: 5px;
    cursor: pointer;
}

div.bayram ul{
    list-style:inside;
    list-style-type: ':: ';
    padding: 5px;
    background-color: var(--color1) ;
    display: inline-block;
}   

div.bayram ul li > a{
    text-decoration: none;
    color: var(--color3);
}
