$success: rgb(251, 255, 21);
$border-radius:30px;
@import "bootstrap/scss/bootstrap";



body{
    background-color: rgb(255, 77, 112);

    button{
        background-color: rgb(106, 208, 11);
    }
}