section.container{
    background-color: rgb(203, 180, 151);
    width: 60%;
    border-radius: 2rem;
    margin: auto;
}

img{
    width: 100%;
}

h2{
    color: brown;
    font-weight: 800;
    padding: 1rem 0 0 1rem;
}
.container p{
    color: brown;
    padding: 0 1rem;
}
.container a{
    text-decoration: none;
    margin-right: 1rem;
}

.container a:hover{
    color: crimson;
}
.menu{
    padding-left: 1rem;
    padding-bottom: 1rem;
}
