$primary-font: "Poppins";
$color1: rgb(0, 0, 84);
$color2: rgba(137, 43, 226, 0.647);
$color3: rgb(234, 234, 234);
$color4: rgb(217, 122, 227);
$color5: rgb(144, 14, 158);
$card-bg-image: url("../img/bg.jpg");
$colors: (youtube: red, instagram: green, facebook: blue);