:root{
    height: 100%;
    width: 100%;

    --color1:green;
    --color2:rgb(200, 194, 194);
    --color3:white;
}

*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}


div.container .ust-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-right: 20px;
}

.ust-menu div ul.home-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

.ust-menu div .chk-label{
    display: none;
    background-color: var(--color1);
    padding: 8px;
}
.ust-menu div .chk-box{
   display: none;
}
.ust-menu div .hidden-menu{
   display: none;
}

.ust-menu div .chk-box:checked  + .hidden-menu{
    display:flex;
    flex-direction: column;
}

ul.home-menu li{
    background-color: var(--color1);
    list-style-type: none;

    padding:8px 12px;
}
ul.home-menu li a{
    color:var(--color3);
    text-decoration: none;
}

ul.home-menu li:hover {
    background-color:var(--color2);
}

.ust-menu div img{
    width: 400px;
}

/* !MAIN */


main{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

    margin-top: 70px;
    margin-right: 30px;
    margin-left: 30px;

}

/*     MAIN LEFT     */


main .left{
    display: flex;
    justify-content: center;
    align-items: flex-start;

    flex: 3;

    border: 2px solid red;
}

main .left .left-pic img{
    width: 300px;
}

/*     MAIN RIGHT     */

main .right{
    background-color: var(--color2);

    border: 2px solid crimson;

    flex:1;
    margin-left: 30px;
    padding: 20px;
    padding-top: 30px;
}


main .right div{
    display: flex;
    justify-content: center;
}

main .right div img{
    width: 300px;
    margin:10px 0;

    border: 1px solid rgb(0, 0, 0);
}
/*     !FOOTER     */

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;

    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
   
    background-color:var(--color2);

    padding: 20px;
}



footer div{
    border: 2px solid green;
    width:fit-content;
}

footer div img{
    width:300px;

    border:3px solid red;
}

/* !MEDIA  */


@media screen and (max-width:768px) {
    .ust-menu div .home-menu{
        display: none;
    }

    .ust-menu div .chk-label{
        display: flex;
    }
     
    .ust-menu div img{
        width: 300px;
    }
    
    
}
    