:root{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    --color1:green;
    --color2:rgb(200, 194, 194);
    --color3:white;
    --color4:black;
}

*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

div.container .ust-menu{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    margin-top: 20px;
    margin-right: 10px;

}

.ust-menu div.hiddens{
    position: relative;
}

.ust-menu div .chk-label{
    display: none;
    background-color: var(--color1);
    padding: 8px;

}
.ust-menu div .chk-box{
   display: none;
}
.ust-menu div .hidden-menu{
   display: none;
   background-color: var(--color1);
  
}
.hidden-menu li{
    list-style-type: none;
    padding: 6px 10px;
    border-bottom: 1px solid var(--color4);
}

.hidden-menu li:hover{
    background-color: var(--color4);
    transition: ease-in 500ms;
    -webkit-transition: ease-in 500ms;
    -moz-transition: ease-in 500ms;
    -ms-transition: ease-in 500ms;
    -o-transition: ease-in 500ms;
}

.hidden-menu li a{
    text-decoration: none;
    color: var(--color3);
}

.ust-menu div ul.home-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}
ul.home-menu li{
    background-color: var(--color1);
    list-style-type: none;

    padding:8px 12px;
}
ul.home-menu li a{
    color:var(--color3);
    text-decoration: none;
}

ul.home-menu li:hover {
    background-color:var(--color2);
}

.ust-menu div img{
    width: 400px;
}

/* !MAIN */


main{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

    margin:70px 30px 75px 30px;
}

/*     MAIN LEFT     */


main .left{
    display: flex;
    justify-content: center;
    align-items: flex-start;

    flex: 4;
}

main .left .left-pic img{
    width: 300px;
}

/*     MAIN RIGHT     */

main .right{
    background-color: var(--color2);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
    flex:1;

    padding: 20px;
    padding-top: 30px;
}


main .right div img{
    width: 300px;
    margin:10px 0;
}
/*     !FOOTER     */

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color:var(--color2);

    padding: 20px;
}
footer ul li{
    list-style:inside;
}

footer div img{
    width:300px;
}

/* !MEDIA  */


@media screen and (max-width:768px) {
    .ust-menu div ul.home-menu{
        display: none;
    }

    .ust-menu div .chk-label{
        display: flex;
    }
     
    .ust-menu div img{
        width: 300px;
    }
    
    .ust-menu div .chk-box:checked  + .hidden-menu{
        display:flex;
        flex-direction: column;

        position: absolute;
        right: 0;
}
    
    main{
        flex-direction: column;
        gap:2rem;
    }
    
    main .left .left-pic img{
        width: 150px;
    }
    footer{
        justify-content:center;
        align-items: center;
        gap: 10px;
    
        padding: 10px;
    }

    footer div{
        font-size: 0.8rem;
        
    }

    footer ul li{
        list-style:inside;
        font-size: 0.8rem;
    }
    
    footer div img{
        width:200px;
    }


}
    