/*
1. COMMON
2. BANNER
*/
*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding:0;
    background-color: black;
    overflow-x: hidden;
}
/* BANNER */
.banner{
    height: 100vh;
    background-image: url("../img/Marketing_LandingFeatured_Redesign_Mobile.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}
@media screen and ( min-width:960px ){
    .banner{
        background-image: url("../img/Marketing_LandingFeatured_Redesign.webp");
    }
}
/* NAVBAR */
.banner .navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:30px 60px;
}
.banner .navbar .logos{
    text-align: center;
    flex:1;
}
@media screen and (min-width:1280px) {
    .banner .navbar .logos{
        flex: 0;
        text-align: left;
    }
}
.banner .navbar .logo{
    width:180px;
    height: auto;
    display: none;
}
@media screen and (min-width:1280px) {
    .banner .navbar .logo{
        display: inline;
    }
}
.banner .navbar .logo-mobile{
    width:130px;
    height: auto;
    position: relative;
    z-index: 100;
}
@media screen and (min-width:1280px) {
    .banner .navbar .logo-mobile{
        display: none;
    }
}
.banner .navbar .second-nav,
.banner .navbar .first-nav{
    display:none;
}
@media screen and (min-width:1280px) {
    .banner .navbar .second-nav,
    .banner .navbar .first-nav{
        display:block;
    }
}
.banner .navbar ul{
    list-style-type: none;
    margin:0;
    padding:0;
    display: flex;
    align-items: center;
    gap:10px;
}
.banner .navbar ul a{
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 0.9rem;
    font-weight: 700;
}
/* SIDE MENU */
nav.side-menu{
    position: fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background-color: black;
    color: white;
    padding: 30px;
    width:100%;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    z-index: 99;
    overflow-y: scroll;
}
@media screen and (min-width:600px) {
    nav.side-menu{
        left:auto;
        width:200px;
    }
}
@media screen and (min-width:1280px) {
    nav.side-menu .menu2,
    nav.side-menu .menu3{
        display: none;
    }
}
nav.side-menu ul{
    list-style-type: none;
    margin:0;
    padding:0;
    margin-top: 30px;
    line-height: 50px;
}
nav.side-menu ul a{
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    display: block;
}
nav.side-menu ul.menu1 i{
    font-size: 1.3rem;
    margin-left:5px;
}
nav.side-menu > label{
    font-size: 1.5rem;
}
.side-menu-icon{
    position: absolute;
    right:30px;
    top:32px;
    z-index: 5;
    font-size: 1.6rem;
    color :white;
}
.chkMenu{
    display: none;
}
.chkMenu:checked + nav.side-menu{
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}
.banner::before{
    content: "";
    transition:background-color 1s;
    -webkit-transition:background-color 1s;
    -moz-transition:background-color 1s;
    -ms-transition:background-color 1s;
    -o-transition:background-color 1s;
}
.chkMenu:checked ~ .banner::before{
    content: "";
    background-color: white;
    position: absolute;
    top:0; left:0; right:0; bottom:0;
    opacity: 0.3;
    z-index: 1;
}
label[for="chkMenu"]{
    cursor: pointer;
}
/* BANNER CONTENT */
.banner .content{
    color: white;
    text-align: center;
}
.banner .content h1{
    font-size: 2.5rem;
    margin:0;
}
.banner .order-form{
    position: absolute;
    bottom:0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    text-align: center;
    width:90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
@media screen and (min-width: 700px) {
    .banner .order-form{
        width:600px;
    }
}
.banner .order-form form{
    display: flex;
    flex-direction: column;
    gap:20px;
}
@media screen and (min-width: 960px) {
    .banner .order-form form{
        flex-direction: row;
    }
}
.banner .order-form input{
    background-color: rgba(255, 255, 255, 0.228);
    padding:15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border:1px solid white;
    font-size: 0.8rem;
    flex: 5;
}

.banner .order-form button{
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border:1px solid white;
    font-size: 0.8rem;
    font-weight: 700;
    flex: 2;
}

.banner .order-form .map a{
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
    font-weight: 600;
}

.banner .order-form .privacy{
    color: gray;
    font-size:0.7rem;
}

.banner .order-form .privacy a{
    color: rgba(255, 255, 255, 0.578);
}

.banner .order-form .scroll i{
    color: white;
    font-size: 2rem;
    margin-bottom: 10px;
}


/* !MAIN */

main > section{
    display: flex;
    flex-direction: column;
    color: white;
}

@media screen and(min-width:1200px) {
    main >  section{
        flex-direction: row;
    }

    main > section.reverse{
        flex-direction: row-reverse;
    }
}


main > section > div{
    flex:1 50%;
}

main > section > div:last-child{
    padding: 30px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (min-width:700px) {
    main > section > div:last-child{
        padding: 50px 20%;
    }
}
@media screen and (min-width:1200px) {
    main > section > div:last-child{
        padding: 50px 150px 50px 70px;
        align-items: flex-start;
    }
}

main > section h2{
    font-size: 2.2rem;
}

@media screen and (min-width:800px) {
    main > section > div:last-child{
        font-size: 2rem;
    }
}


main > section p{
    line-height: 25px;
}

main > section  button{
    background:none;
    border:2px solid white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 10px;
    color: white;
    font-weight: 600;
}

@media screen and (min-width:800px) {
    main > section > div:last-child{
        width: 70%;
    }
}


main img{
    object-fit: cover;
    width: 100%;
    height: 500px;
}

@media screen and(min-width:1200px){
    main img{
        height: 100vh;
    }
}


/*Travel */

main > section.travel > div{
    position: absolute;

}


@media screen and(min-width:960px) {
    main > section.travel > div{
        top:50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);

}
}

@media screen and(min-width:1200px) {
    main > section.travel > div{
        left: 50px;
        width:50%;
    }
}

main > section.travel > img{
    height: 100vh;
}

main > section .buttons{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap:10px;
}

main > section .buttons button{
    flex: 1;
}

@media screen and(min-width:1200px) {
    main > section .buttons{
        flex-direction: row;
    }
}


main > section.testimonals{
    flex-direction: column;
    text-align: center;
    background-color: rgb(25, 21, 21);
    line-height: 30px;
}


@media screen and(min-width:1200px) {
    main > section.testimonals{
        padding:10%; 
    }
}


main > section.testimonals ul{
    list-style-type:none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 60px;
    font-size: 1.3rem;

}


@media screen and(min-width:960px) {
    main > section.testimonals ul{
        flex-direction: row;
    }
}

section.line-spacer span{
    display: block;
    height: 150px;
    width: 1px;
    background-color: white;
    margin:30px auto;
}